[SddmGreeterTheme]
Name=eclipse
Description=Eclipse theme
Author=Bartosz Skorowski, https://github.com/oosiriiss
Copyright=(c) 2025, oosiriiss
License=CC-BY-SA
Type=sddm-theme
Version=0.9
QtVersion=6
Website=https://github.com/sddm/sddm
# Screenshot=maldives.jpg
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=oosiriiss@gmail.com
Theme-Id=eclipse
Theme-API=2.0


